* {
  margin: 0%;
  padding: 0;
}

body {
  background-image: url(./assets/header_img.jpg);
  background-repeat: no-repeat;
  background-size: 100% 72vh;


}

html{
  width: 100%;
}
h1 {
  padding-left: 20px;
}

.date {
  color: #fff;
}

header h1 {
  position: relative;
  color: white;
  text-align: center;
  top: 24vh;
}

#name h1 {
  color: white;
  position: relative;
  top: 21vh;
  text-align: center;
}

#about h1 {
  position: relative;
  top: 73vh;
}

#about p {
  position: relative;
  top: 73vh;
  /* border: 2px solid; */
  width: 60%;
  text-align: justify;
  left: 22%;
  height: 20vh;
}

#skills {
  position: relative;
  top: 73vh;
}

#skill_block {
  display: flex;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
  position: relative;
}

p {
  text-align: left;
}

.indicator {
  position: relative;
  background-color: rgb(214, 207, 207);
  height: 5px;
  width: 400px;
  border-radius: 25px;
  margin-bottom: 50px;
}

.indicator span {
  position: absolute;
  left: 0;
  background-color: blue;
  height: 100%;
  width: 80%;
  border-radius: 25px;
}

#indicator1 span {
  background-color: aqua;
  width: 0%;
}

#indicator2 span {
  background-color: salmon;
  width: 0%;
}

#indicator3 span {
  background-color: rgb(153, 153, 238);
  width: 0%;
}

#indicator4 span {
  background-color: rgb(128, 160, 128);
  width: 0%;
}

#indicator5 span {
  background-color: rgb(221, 130, 145);
  width: 0%;
}

#indicator6 span {
  background-color: rgb(192, 157, 61);
  width: 0%;
}

#indicator1 span {
  animation: indicator1-fill 2s forwards;
}

@keyframes indicator1-fill {
  100% {
    width: 60%;
  }
}

#indicator2 span {
  animation: indicator2-fill 2s forwards;
}

@keyframes indicator2-fill {
  100% {
    width: 80%;
  }
}

#indicator3 span {
  animation: indicator3-fill 2s forwards;
}

@keyframes indicator3-fill {
  100% {
    width: 75%;
  }
}

#indicator4 span {
  animation: indicator4-fill 2s forwards;
}

@keyframes indicator4-fill {
  100% {
    width: 45%;
  }
}

#indicator5 span {
  animation: indicator5-fill 2s forwards;
}

@keyframes indicator5-fill {
  100% {
    width: 30%;
  }
}

#indicator6 span {
  animation: indicator6-fill 2s forwards;
}

@keyframes indicator6-fill {
  100% {
    width: 20%;
  }
}

#eductaion {
  /* border: 2px solid;*/
  height: 107vh;
  position: relative;
  top: 78vh;
  width: 68%;
  left: 17%;
}

.box {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.boxes {
  height: 23vh;
  width: 23%;
  position: relative;
  left: 6%;
}

.boxes:nth-child(2n) {
  left: 73vh;
}

#extra-curricular {
  /* border: 2px solid;*/
  height: 107vh;
  position: relative;
  top: 85vh;
  width: 68%;
  left: 17%;
}

#projects h1 {
  padding-left: 20px;
}

#projects {
  height: auto;
  margin-top: 100px;
  position: relative;
  display: block;
  width: auto;
}

.project-box {
  margin: 20px;
  padding: 20px;
}

.project_ {
  width: 80vw;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project_ img {
  width: 92%;
}

@media screen and (max-width: 768px) {
  .project-box {
    margin: 6px;
    padding: 10px;
  }

  #projects h1 {
    margin-bottom: 20px;
  }

  .project_ img {
    width: 30vw;
  }

  .project_ {
    width: 80vw;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
  }
}

#edu-head,
#extra-curri-head {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

#divider {
  border: 2px solid black;
  transform: rotate(90deg);
  position: relative;
  top: 47vh;
  height: 1%;
  left: 10%;
  width: 68%;
  border-left: none;
  border-bottom: none;
  border-right: none;
}

footer {
  /* background-color: blueviolet; */
  min-height: 450px;
  width: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#contact {
  text-align: center;
  position: relative;
  left: 45%;
}

#program-img img {
  width: 49%;
}

#edu-img img {
  width: 20%;
}

header img {
  width: 10%;
  height: 117px;
  border-radius: 58px;
  position: relative;
  top: 55vh;
  left: 45%;
}

#college-name,
#program {
  color: #1e1eae;
  font-weight: bold;
  font-size: 3.5vh;
}

#cgpa,
#month {
  color: orange;
  font-weight: bold;
}

.nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #343a40;
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  float: left;
  color: rgb(198, 193, 193);
  text-align: center;
  font-size: 16px;
  padding: 0.8rem;
  text-decoration: none;
}

.nav a:hover {
  color: rgb(255, 255, 255);
}

.nav .btn {
  margin-left: 2px;
  float: right;
  font-size: 16px;
  color: #17a2b8;
  background-color: transparent;
  padding: 6px 12px;
  border: 1px solid #17a2b8;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.nav input[type="text"] {
  float: right;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin: 4px 12px 4px 0px;
  width: 200px;
  outline: none;
}

.button {
  display: flex;
  align-items: center;
}

.btn:hover {
  background-color: #17a2b8;
  color: aliceblue;
}

.main-content {
  background-image: linear-gradient(180deg, grey, black);
}

.back-to-top--btn {
  position: absolute;
  top: 80px;
  left: 90px;

  /* font-size: 6rem; */
  background: none;
  border: none;
  background: rgba(255, 166, 0, 0.543);

  backdrop-filter: blur(5px);
  border-radius: 50%;
  padding: 0.6rem;
  z-index: 11;

  position: fixed;

  cursor: pointer;

  /* margin-left: 90%; */
  /* margin-top: 40%; */
  /* left: 100%; */

  transition-duration: 400ms;

  /* -moz-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.356);
  -webkit-box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.329);
  box-shadow: 10px 10px 9px rgba(10, 10, 10, 0.336); */

  transform: translateY(20rem);
  visibility: hidden;

  animation: pulse 1500ms infinite;
}

@keyframes pulse {
  0% {
    box-shadow: rgba(255, 166, 0, 0.494) 0 0 0 0;
  }

  100% {
    box-shadow: rgba(255, 166, 0, 0) 0 0 5px 16px;
  }
}

.back-to-top--btn:active {
  background: rgba(255, 166, 0, 0.686);
  transform: scale(0.9);

  /* -moz-box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.356);
  -webkit-box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.329);
  box-shadow: 5px 5px 5px rgba(10, 10, 10, 0.336); */
}

.back-to-top--btn[data-visible="true"] {
  visibility: visible;
  transform: translateY(0rem);
}

.res-logo-3 {
  width: 6%;
  padding: 1rem;
  opacity: 0.75;
  transition-duration: 300ms;
}

.res-logo-3:hover {
  transform: scale(1.3);
  opacity: 0.95;
}

/* EDUCATION SECTION */
.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  width: 1000px;
  box-sizing: border-box;
  margin-top: 40%;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 6%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  padding: 0;
  margin: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  right: -6px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li:nth-child(even):before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 24px;
  left: -4px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.2);
}

.timeline ul li h3 {
  padding: 0;
  margin: 0;
  color: rgba(233, 33, 99, 1);
  font-weight: 600;
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233, 33, 99, 1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233, 33, 99, 1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

@media(max-width:1000px) {
  .timeline {
    width: 100%;
  }
}

@media(max-width:767px) {
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  .timeline:before {
    left: 20px;
    height: 100%;
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 16px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

.main-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 8rem;
  width: 100%;
  flex-wrap: wrap;
}

 @media (max-width:770px) {
  .main-content{
    flex-direction: column;
  }
  .left{
    display: block;
    padding: 2px;
    font-size: 60%;
  }
  .right-box{
    display: block;
    width: 100%;
    margin: 1rem;
  }
  .right-box input{
    width: 80%;
    margin: 0;
  }

  .socialhandles{
    margin-top: 10rem;
    width: 100% !important;
    justify-content: space-between;
    /* margin: 0; */
    height: 10vh;
    margin-left: -10rem;


  }
 }
.left{
  position: absolute;
  top: -178px;
  left: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 12px;
  background: rgb(34,193,195);
  background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
  border-radius: 10px;
}
.left-box{
  text-align: center;
  position: relative;
  left: -11%;
}
.img-profile{
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  margin:0 4rem;
}
.contact-us{
  transform:rotate(270deg);
}
.right-box{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;

  /* margin-right: 200px; */
}
.socialhandles{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 50%;
}
.socialhandles h2{
  transform: rotate(270deg);
}
.right-box input{
  /* background-color: #1e1eae; */
  border: none;
  margin: 1rem;
  width: 300px;
  padding: 1rem;
  border-bottom: 2px solid white;
  color: white;
  background: transparent;
}
.right-box input::placeholder{
  color: white;
  font-size: large;
  font-weight: bold;
}
.right-box button{
  width: 100%;
  background-color: white;
}
.right-box input:focus{
  border: 2px solid white;
}
.socialhandles a{
  font-size: 5rem;
}
.footer{
  width: 100% !important;

}
.socialhandles i{
  font-size: 30px;
  /* margin: 0px 20px; */
}
.socialhandles i:hover{
  background: white;
  border-radius: 10px;
}
.fa-facebook:hover{
  color: #1e1eae;
  padding: 5px;
  transform: scale(1.1);
  transition: 1s ;
}
.fa-instagram:hover{
  color: #fd79a8;
  padding: 5px;
  transform: scale(1.1);
  transition: 1s ;
}
.fa-twitter:hover{
  color: #74b9ff;
  padding: 5px;
  transform: scale(1.1);
  transition: 1s ;
}

.fa-youtube:hover{
  color: #d63031;
  padding: 5px;
  transform: scale(1.1);
  transition: 1s ;
}
